---
layout: default
---
<h2><a target="_blank" href="https://github.com/{{ page.owner}}/{{ page.repo }}">{{ page.owner}}/{{ page.repo }}</a></h2>
<p class="meta">{{ page.datestampThisMonth | date_to_string }}</p>
<div class="post">
{{ content }}
</div>
<hr>
<i>
<p>Report permalink: <a href="{{ site.url }}{{ site.baseurl }}/{{ page.owner }}/{{ page.repo }}/{{ page.reportID }}">{{ site.url }}{{ site.baseurl }}/{{ page.owner }}/{{ page.repo }}/{{ page.reportID }}</a></p>
<p>Date of Last Month : {{ page.datestampLastMonth | date_to_string }}</p>
</i>

{% include ga.html %}
