---
layout: default
---

<style type="text/css">
    th:not(:first-child) {
        text-align: right;
    }

    td:not(:first-child) {
        text-align: right;
    }
    td:last-child {
        font-weight: bold;
        padding-left: 1em;
    }
    .hiddenRow {
        padding: 0 !important;
    }
    tr:hover {
        background-color: #dee2e6 !important;
    }

</style>

<h4>Weekly org report for <a target="_blank" href="https://github.com/{{ page.org }}">{{ page.org }}</a></h4>
<p class="meta">{{ page.datestampThisWeek | date_to_string }}</p>
<div class="post">
{{ content }}
</div>
<hr>
<p><i>Quick Links</i></p>
<ul>
    <li><a href="{{ site.url }}{{ site.baseurl }}/{{ page.org }}">{{ site.url }}{{ site.baseurl }}/{{ page.org }}</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/{{ page.org }}/MONTHLY">{{ site.url }}{{ site.baseurl }}/{{ page.org }}/MONTHLY</a></li>
</ul>
<i>
<p>Report permalink: <a href="{{ site.url }}{{ site.baseurl }}/{{ page.org }}/{{ page.reportID }}">{{ site.url }}{{ site.baseurl }}/{{ page.org }}/{{ page.reportID }}</a></p>
<p class="meta">Date of "Latest" metrics data used in the report: {{ page.datestampThisWeek | date_to_string }}</p>
<p class="meta">Date of "Previous" metrics data used in the report: {{ page.datestampLastWeek | date_to_string }}</p>
</i>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


{% include ga.html %}
